@font-face {
  font-family: 'Lexend';
  src: url('../../fonts/Lexend-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src: url('../../fonts/Lexend-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src: url('../../fonts/Lexend-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src: url('../../fonts/Lexend-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Intro';
  src: url('../../fonts/Intro-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../../fonts/FuturaBookC.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

