{% extends "base.html" %}
{% load widget_tweaks %}
{% load static  %}
{% block content %}
<div class="reset__form-wrapper form-wrapper">
      <img class="reset__form-logo form__logo" src="{% static 'images/logo.png' %}" width="91" height="91" loading="lazy">
      <h1 class="form__title ">Reset Password</h1>
      <form method="post" class="reset__form form" autocomplete="off">
          {% render_field form.title class+="reset__form-title form__title" %}
          <ul class="form__input-list">
            <li>{% render_field form.new_password1 class+="reset__form-email form__input-item" placeholder='New Password' autocomplete="new-password" %}</li>
            <li>{% render_field form.new_password2 class+="reset__form-email form__input-item" placeholder='Repeat Password' autocomplete="new-password" %}</li>
          </ul>
      
          {% for error in form.errors.values %}
            <span class="error">{{ error }}</span>
          {% endfor %}
          
          {% csrf_token %}
          <button type="submit" class="reset__form-button button">Change</button>
      </form>
</div>
{% endblock %}