{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
    <div class="register__form-wrapper form-wrapper">
      <img class="register__form-logo form__logo" src="{% static 'images/logo.png' %}" width="91" height="91" loading="lazy">
      <h1 class="form__title ">Edit Profile</h1>
      <form method="post" class="register__form form" enctype="multipart/form-data">
          {% render_field user_form.title class+="register__form-title form__title" %}
          <ul class="form__input-list">
            <li>{% render_field user_form.username class+="register__form-username form__input-item" placeholder='Username' autocomplete="new-password" %}</li>
          <div class="file-upload">
              {{profile_form.avatar|add_class:'file-input'|attr:'id:file'}}
              <label for="file" class="file-label">Add Avatar</label>
          </div>
          {% for error in user_form.errors.values %}
            <span class="error">{{ error }}</span>
          {% endfor %}
          {% for error in profile_form.errors.values %}
            <span class="error">{{ error }}</span>
          {% endfor %}
          {% csrf_token %}
          <button type="submit" class="register__form-button button">Change</button>
      </form>
    </div>
{% endblock %}