{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main container">
        <header class="main__header">
            <div class="main__logo">
                <img src="{% static 'images/logo.png' %}" alt="" class="main__logo-image" width="70" height="70" loading="lazy">
            </div>
            <div class="main__header-right">
                <a href="{% url 'main:add_post' %}" class="button button--transparent main__button">Share Work</a>
                <a href="#" class="main__avatar">
                    <img src="{% static 'images/avatar.png' %}" alt="" class="main__avatar-image" width="60" height="60" loading="lazy">
                </a>
            </div>
        </header>

        <div class="main__profile">
            <div class="main__profile-info">
                <div class="main__profile-avatar">
                    <img src="{% static 'images/avatar_profile.png' %}" alt="" class="main__profile-avatar-img" width="150" height="150" loading="lazy">
                </div>
                <h1 class="main__info-title">Eternity</h1>
            </div>
            <div class="main__profile-sub">
                <ul class="main__sub-stats">
                    <li class="main__sub-stats-item">
                        <img src="{% static 'images/stats_heart.svg' %}" alt="" width="20" height="18" class="main__sub-item-img">
                        <span class="main__sub-item-count">3242</span>
                    </li>
                    <li class="main__sub-stats-item">
                        <img src="{% static 'images/stats_comment.svg' %}" alt="" width="20" height="20" class="main__sub-item-img">
                        <span class="main__sub-item-count">233</span>
                    </li>
                    <li class="main__sub-stats-item">
                        <img src="{% static 'images/stats__subscribers.svg' %}" alt="" width="25" height="17" class="main__sub-item-img">
                        <span class="main__sub-item-count">22</span>
                    </li>
                </ul>
                <a href="{% url 'user_edit' %}" class="main__sub-button button button--small">Edit Profile</a>
            </div>
        </div>

        <div class="main__body">
            <ul class="main__list main__list-user">
                <li class="main__item">
                    <a href="#" class="main__link">
                        <div class="main__block">
                            <div class="main__block-image">
                                <img class="main__block-img" src="{% static 'images/1.png' %}" width="400" height="300" loading="lazy" alt="">
                                <h4 class="main__block-image-title">Mobile App - Reelux</h4>
                            </div>

                            <div class="main__block-info">
                                <div class="main__block-author">
                                    <img src="{% static 'images/logo.png' %}" width="36" height="36" loading="lazy" alt="" class="main__author-image">
                                    <span class="main__author-name">Eter</span>
                                </div>

                                <div class="main__block-stats">
                                    <div class="main__stats-like">
                                        <img src="{% static 'images/heart.svg' %}" width="24" height="24" loading="lazy" alt="" class="main__stats-like-image">
                                        <span class="main__stats-like-count">2314</span>
                                    </div>
                                    <div class="main__stats-view">
                                        <img src="{% static 'images/eye.svg' %}" width="24" height="24" loading="lazy" alt="" class="main__stats-view-image">
                                        <span class="main__stats-view-count">2314</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="main__item">
                    <a href="#" class="main__link">
                        <div class="main__block">
                            <div class="main__block-image">
                                <img class="main__block-img" src="{% static 'images/1.png' %}" width="400" height="300" loading="lazy" alt="">
                                <h4 class="main__block-image-title">Mobile App - Reelux</h4>
                            </div>

                            <div class="main__block-info">
                                <div class="main__block-author">
                                    <img src="{% static 'images/logo.png' %}" width="36" height="36" loading="lazy" alt="" class="main__author-image">
                                    <span class="main__author-name">Eter</span>
                                </div>

                                <div class="main__block-stats">
                                    <div class="main__stats-like">
                                        <img src="{% static 'images/heart.svg' %}" width="24" height="24" loading="lazy" alt="" class="main__stats-like-image">
                                        <span class="main__stats-like-count">2314</span>
                                    </div>
                                    <div class="main__stats-view">
                                        <img src="{% static 'images/eye.svg' %}" width="24" height="24" loading="lazy" alt="" class="main__stats-view-image">
                                        <span class="main__stats-view-count">2314</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="main__item">
                    <a href="#" class="main__link">
                        <div class="main__block">
                            <div class="main__block-image">
                                <img class="main__block-img" src="{% static 'images/1.png' %}" width="400" height="300" loading="lazy" alt="">
                                <h4 class="main__block-image-title">Mobile App - Reelux</h4>
                            </div>

                            <div class="main__block-info">
                                <div class="main__block-author">
                                    <img src="{% static 'images/logo.png' %}" width="36" height="36" loading="lazy" alt="" class="main__author-image">
                                    <span class="main__author-name">Eter</span>
                                </div>

                                <div class="main__block-stats">
                                    <div class="main__stats-like">
                                        <img src="{% static 'images/heart.svg' %}" width="24" height="24" loading="lazy" alt="" class="main__stats-like-image">
                                        <span class="main__stats-like-count">2314</span>
                                    </div>
                                    <div class="main__stats-view">
                                        <img src="{% static 'images/eye.svg' %}" width="24" height="24" loading="lazy" alt="" class="main__stats-view-image">
                                        <span class="main__stats-view-count">2314</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="main__item">
                    <a href="#" class="main__link">
                        <div class="main__block">
                            <div class="main__block-image">
                                <img class="main__block-img" src="{% static 'images/1.png' %}" width="400" height="300" loading="lazy" alt="">
                                <h4 class="main__block-image-title">Mobile App - Reelux</h4>
                            </div>

                            <div class="main__block-info">
                                <div class="main__block-author">
                                    <img src="{% static 'images/logo.png' %}" width="36" height="36" loading="lazy" alt="" class="main__author-image">
                                    <span class="main__author-name">Eter</span>
                                </div>

                                <div class="main__block-stats">
                                    <div class="main__stats-like">
                                        <img src="{% static 'images/heart.svg' %}" width="24" height="24" loading="lazy" alt="" class="main__stats-like-image">
                                        <span class="main__stats-like-count">2314</span>
                                    </div>
                                    <div class="main__stats-view">
                                        <img src="{% static 'images/eye.svg' %}" width="24" height="24" loading="lazy" alt="" class="main__stats-view-image">
                                        <span class="main__stats-view-count">2314</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="main__item">
                    <a href="#" class="main__link">
                        <div class="main__block">
                            <div class="main__block-image">
                                <img class="main__block-img" src="{% static 'images/1.png' %}" width="400" height="300" loading="lazy" alt="">
                                <h4 class="main__block-image-title">Mobile App - Reelux</h4>
                            </div>

                            <div class="main__block-info">
                                <div class="main__block-author">
                                    <img src="{% static 'images/logo.png' %}" width="36" height="36" loading="lazy" alt="" class="main__author-image">
                                    <span class="main__author-name">Eter</span>
                                </div>

                                <div class="main__block-stats">
                                    <div class="main__stats-like">
                                        <img src="{% static 'images/heart.svg' %}" width="24" height="24" loading="lazy" alt="" class="main__stats-like-image">
                                        <span class="main__stats-like-count">2314</span>
                                    </div>
                                    <div class="main__stats-view">
                                        <img src="{% static 'images/eye.svg' %}" width="24" height="24" loading="lazy" alt="" class="main__stats-view-image">
                                        <span class="main__stats-view-count">2314</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="main__item">
                    <a href="#" class="main__link">
                        <div class="main__block">
                            <div class="main__block-image">
                                <img class="main__block-img" src="{% static 'images/1.png' %}" width="400" height="300" loading="lazy" alt="">
                                <h4 class="main__block-image-title">Mobile App - Reelux</h4>
                            </div>

                            <div class="main__block-info">
                                <div class="main__block-author">
                                    <img src="{% static 'images/logo.png' %}" width="36" height="36" loading="lazy" alt="" class="main__author-image">
                                    <span class="main__author-name">Eter</span>
                                </div>

                                <div class="main__block-stats">
                                    <div class="main__stats-like">
                                        <img src="{% static 'images/heart.svg' %}" width="24" height="24" loading="lazy" alt="" class="main__stats-like-image">
                                        <span class="main__stats-like-count">2314</span>
                                    </div>
                                    <div class="main__stats-view">
                                        <img src="{% static 'images/eye.svg' %}" width="24" height="24" loading="lazy" alt="" class="main__stats-view-image">
                                        <span class="main__stats-view-count">2314</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="main__item">
                    <a href="#" class="main__link">
                        <div class="main__block">
                            <div class="main__block-image">
                                <img class="main__block-img" src="{% static 'images/1.png' %}" width="400" height="300" loading="lazy" alt="">
                                <h4 class="main__block-image-title">Mobile App - Reelux</h4>
                            </div>

                            <div class="main__block-info">
                                <div class="main__block-author">
                                    <img src="{% static 'images/logo.png' %}" width="36" height="36" loading="lazy" alt="" class="main__author-image">
                                    <span class="main__author-name">Eter</span>
                                </div>

                                <div class="main__block-stats">
                                    <div class="main__stats-like">
                                        <img src="{% static 'images/heart.svg' %}" width="24" height="24" loading="lazy" alt="" class="main__stats-like-image">
                                        <span class="main__stats-like-count">2314</span>
                                    </div>
                                    <div class="main__stats-view">
                                        <img src="{% static 'images/eye.svg' %}" width="24" height="24" loading="lazy" alt="" class="main__stats-view-image">
                                        <span class="main__stats-view-count">2314</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="main__item">
                    <a href="#" class="main__link">
                        <div class="main__block">
                            <div class="main__block-image">
                                <img class="main__block-img" src="{% static 'images/1.png' %}" width="400" height="300" loading="lazy" alt="">
                                <h4 class="main__block-image-title">Mobile App - Reelux</h4>
                            </div>

                            <div class="main__block-info">
                                <div class="main__block-author">
                                    <img src="{% static 'images/logo.png' %}" width="36" height="36" loading="lazy" alt="" class="main__author-image">
                                    <span class="main__author-name">Eter</span>
                                </div>

                                <div class="main__block-stats">
                                    <div class="main__stats-like">
                                        <img src="{% static 'images/heart.svg' %}" width="24" height="24" loading="lazy" alt="" class="main__stats-like-image">
                                        <span class="main__stats-like-count">2314</span>
                                    </div>
                                    <div class="main__stats-view">
                                        <img src="{% static 'images/eye.svg' %}" width="24" height="24" loading="lazy" alt="" class="main__stats-view-image">
                                        <span class="main__stats-view-count">2314</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}