{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="post">
        <div class="post__image-wrapper">
            <a class="post__icon-close" href="{% url 'main:main_page' %}">
                <img src="{% static 'images/close.svg' %}" alt="" width="32" height="32" loading="lazy" class="post__img">
            </a>
            {% if request.user == post.author %}
            <a class="post__icon-delete post__icon-close" href="{% url 'main:delete_post' post.slug %}">
                <img src="{% static 'images/trash.svg' %}" alt="" width="32" height="32" loading="lazy" class="post__img">
            </a>
            <a class="post__icon-edit post__icon-close" href="{% url 'main:edit_post' post.slug %}">
                <img src="{% static 'images/edit.svg' %}" alt="" width="32" height="32" loading="lazy" class="post__img">
            </a>
            {% endif %}
            <div class="post__image">
                <img src="{{ post.image.url }}" alt="" width="1400" loading="lazy" class="post__img">
            </div>
        </div>

        <div class="post__info">
            <header class="post__info-header">
                <a href="{% url 'main:main_page' %}" class="post__logo">
                    <img src="{% static 'images/logo.png' %}" alt="" class="post__logo-image" width="57" height="57" loading="lazy">
                </a>

                <div class="post__header-stats">
                    <h2 class="post__header-title">Stats</h2>
                    <ul class="post__stats-list">
                        <li class="main__sub-stats-item">
                            <img src="{% static 'images/stats_heart.svg' %}" alt="" width="20" height="18" class="main__sub-item-img">
                            <span class="main__sub-item-count">3242</span>
                        </li>
                        <li class="main__sub-stats-item">
                            <img src="{% static 'images/stats_comment.svg' %}" alt="" width="20" height="20" class="main__sub-item-img">
                            <span class="main__sub-item-count">233</span>
                        </li>
                        <li class="main__sub-stats-item">
                            <img src="{% static 'images/view.svg' %}" alt="" width="24" height="24" class="main__sub-item-img">
                            <span class="main__sub-item-count">10022</span>
                        </li>
                    </ul>
                    <ul class="post__tags post__stats-list">
                        {% for tag in post.tags.all %}
                            <li class="post__tags-item">
                                <a href="{% url 'main:post_list_tag' tag.slug %}" class="post__tag">{{ tag }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="post__header-about">
                    <div class="post__header-author">
                        <a href="{% url 'profile' post.author.id %}" class="post__header-avatar">
                            <img src="{{ post.author.profile.avatar.url }}" alt="" width="40" height="40" loading="lazy" class="post__header-avatar-img">
                        </a>
                        <span class="post__header-name">{{ post.author }}</span>
                    </div>

                    <span class="post__header-date">
                        {{ post.created|date:"d/m/y" }}
                    </span>
                </div>
            </header>

            <div class="post__body">
                <div class="post__comments">
                    <ul class="post__comments-list">
                        <li class="post__comments-item">
                            <div class="post__comments-avatar">
                                <img src="{% static 'images/avatar.png' %}" alt="" width="52" height="52" loading="lazy" class="post__comments ava">
                            </div>

                            <div class="post__comments-text">
                                <h4 class="post__comments-name">Volt</h4>
                                <div class="post__comments-content">
                                    <p>Great project, bro, so good</p>
                                </div>
                            </div>
                        </li>
                        <li class="post__comments-item">
                            <div class="post__comments-avatar">
                                <img src="{% static 'images/avatar.png' %}" alt="" width="52" height="52" loading="lazy" class="post__comments ava">
                            </div>

                            <div class="post__comments-text">
                                <h4 class="post__comments-name">Volt</h4>
                                <div class="post__comments-content">
                                    <p>Great project, bro, so good</p>
                                </div>
                            </div>
                        </li>
                        <li class="post__comments-item">
                            <div class="post__comments-avatar">
                                <img src="{% static 'images/avatar.png' %}" alt="" width="52" height="52" loading="lazy" class="post__comments ava">
                            </div>

                            <div class="post__comments-text">
                                <h4 class="post__comments-name">Volt</h4>
                                <div class="post__comments-content">
                                    <p>Great project, efwo, so good</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="post__form"></div>
            </div>
        </div>

    </div>
{% endblock %}