.button {
  font-weight: 500;
  font-size: 32px;
  letter-spacing: -2px;
  color: var(--color-light);
  background-color: var(--color-red);
  padding-inline: var(--button-padding-x);
  padding-block: var(--button-padding-y);
  border: 0;
  border-radius: var(--border-radius-small);

  @include hover {
    background-color: var(--color-light);
    color: var(--color-red);
  }

  &--white {
    background-color: var(--color-light);
    color: var(--color-red);

    @include hover {
      background-color: var(--color-red);
      color: var(--color-light);
    }
  }

  &--transparent {
    font-size: 20px;
    background: transparent;
    padding-block: 15px;
    padding-inline: 60px;
    border-radius: var(--border-radius-large);
    border: 1px solid var(--color-light);
    font-weight: 500;
    letter-spacing: -1.5px;
  }
}