.comment {

  &__delete {
    padding: 12px;
    background-color: var(--color-red);
    border-radius: 50%;
    margin-left: 12px;

    @include hover {
      opacity: .7;
    }
  }

  &__form {
    
    &-wrapper {
      display: flex;
      align-items: start;
      justify-content: start;
    }

    &-button {
      font-size: 24px;
      padding-inline: 60px;
      padding-block: 20px;
      letter-spacing: -1px;
    }

    &-body {
      resize: none;
      width: 663px;
      height: 330px;
      background: transparent;
      padding: 28px;
      border: 1px solid rgba(255,255,255, 0.4);
      font-size: 18px;

      &:focus {
        outline: none;
      }
    }

  }
}